In [1]:
# Dependencies and Setup
import pandas as pd
# File to Load 
school_complete = "Resources/schools_complete.csv"
student_complete = "Resources/students_complete.csv"
# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_complete)
student_df = pd.read_csv(student_complete)
# Combine the data into a single dataset.  
complete_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])

In [2]:
# Get all columns names
complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## District Summary

In [3]:
# Calculate the total number of schools
unique_schools = school_df["school_name"].unique()
total_schools = len(unique_schools)

# Calculate the total number of students
total_students = student_df["student_name"].count()

# Calculate the total budget
total_budget = school_df["budget"].sum()

# Calculate the average math score
average_math = student_df["math_score"].mean()

# Calculate the average reading score
average_reading = student_df["reading_score"].mean()

# Calculate the percentage of students with a passing math score (70 or greater)
passed_math = student_df.loc[student_df["math_score"]>=70]["math_score"].count()
percentage_math = passed_math/total_students*100

# Calculate the percentage of students with a passing reading score (70 or greater)
passed_reading = student_df.loc[student_df["reading_score"]>=70]["reading_score"].count()
percentage_reading = passed_reading/total_students*100

# Calculate the percentage of students who passed math and reading (% Overall Passing)
passed_overall = student_df.loc[(student_df["math_score"]>=70) & (student_df["reading_score"]>=70)]["student_name"].count()
percentage_overall = passed_overall/total_students*100

# Create a dataframe to hold the above results
district_summary_df = pd.DataFrame({
  "Total Schools":[total_schools],
    "Total Students":[total_students],
    "Total Budget":[total_budget],
    "Average Math Score":[average_math],
    "Average Reading Score":[average_reading],
    "% Passing Math":[percentage_math],
    "% Passing Reading":[percentage_reading],
    "% Overall Passing":[percentage_overall]
})

# Optional: give the displayed data cleaner formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

### Create an overview table that summarizes key metrics about each school, including:

In [4]:
    # School Name  # Group by school names 
school_name = complete_df.set_index("school_name").groupby(["school_name"])

    # School Type
school_type = school_df.set_index("school_name")["type"]

    # Total Students
student_counts = school_name["student_name"].count()

    # Total School Budget
total_school_budget = school_df.set_index("school_name")["budget"]

    # Per Student Budget
student_budget = total_school_budget/student_counts

    # Average Math Score
average_math = school_name["math_score"].mean()

    # Average Reading Score
average_reading = school_name["reading_score"].mean()

    # % Passing Math
passed_math_df = student_df.loc[student_df["math_score"]>=70]
grouped_math = passed_math_df.groupby(["school_name"])
passed_math_byschool = grouped_math["student_name"].count()
percent_math_byschool = (passed_math_byschool/student_counts)*100

    # % Passing Reading
passed_reading_df = student_df.loc[student_df["reading_score"]>=70]
grouped_reading = passed_reading_df.groupby(["school_name"])
passed_reading_byschool = grouped_reading["student_name"].count()
percent_reading_byschool = (passed_reading_byschool/student_counts)*100

    # % Overall Passing (The percentage of students that passed math and reading.)
passed_overall_df = student_df.loc[(student_df["math_score"]>=70)&(student_df["reading_score"]>=70)]
grouped_overall = passed_overall_df.groupby(["school_name"])
passed_overall_byschool = grouped_overall["student_name"].count()
percent_overall_byschool = (passed_overall_byschool/student_counts)*100

### Create a dataframe to hold the above results
school_summary_df = pd.DataFrame({
    "School Type":school_type,
    "Total Students": student_counts, "Total School Budget":total_school_budget, "Per Student Budget":student_budget,
    "Average Math Score":average_math, "Average Reading Score":average_reading,
    "% Passing Math":percent_math_byschool, "% Passing Reading":percent_reading_byschool,"% Overall Passing":percent_overall_byschool
})
#formatting
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map(" ${:,.2f}".format)

school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

In [5]:
# Sort and display the top five performing schools by % overall passing.
sort_tops = school_summary_df.sort_values("% Overall Passing", ascending = False)
top_5_overall = sort_tops.head(5)
top_5_overall

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [6]:
# Sort and display the five worst-performing schools by % overall passing.
sort_bottoms = school_summary_df.sort_values("% Overall Passing", ascending = True)
bottom_5_overall = sort_bottoms.head(5)
bottom_5_overall

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

### Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [7]:
    # Create a pandas series for each grade. Hint: use a conditional statement.
    # Group each series by school
    # Combine the series into a dataframe
    # Optional: give the displayed data cleaner formatting

## Reading Score by Grade

### Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [8]:
    # Create a pandas series for each grade. Hint: use a conditional statement.
    # Group each series by school
    # Combine the series into a dataframe
    # Optional: give the displayed data cleaner formatting

## Scores by School Spending

### Create a table that breaks down school performances based on average Spending Ranges (Per Student).

In [9]:
#Use 4 reasonable bins to group school spending. Include in the table each of the following:
    # Average Math Score
    # Average Reading Score
    # % Passing Math
    # % Passing Reading
    # Overall Passing Rate (Average of the above two)

## Scores by School Size

### Create a table that breaks down school performances based on school size.

In [10]:
#Use 4 reasonable bins to group school spending. Include in the table each of the following:
    # Average Math Score
    # Average Reading Score
    # % Passing Math
    # % Passing Reading
    # Overall Passing Rate (Average of the above two)

## Scores by School Type

### Create a table that breaks down school performances based on school type.

In [11]:
#Use 4 reasonable bins to group school spending. Include in the table each of the following:
    # Average Math Score
    # Average Reading Score
    # % Passing Math
    # % Passing Reading
    # Overall Passing Rate (Average of the above two)